@model sistemaAllqo.Models.Mascota

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cliente.idCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.raza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.raza.idRaza)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idMascota" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
