@model IEnumerable<sistemaAllqo.Models.Mascota>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.raza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.idCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.raza.idRaza)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idMascota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idMascota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idMascota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
