@model List<sistemaAllqo.Models.Rol>

@{
    ViewData["Title"] = "EditUsersInRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rolId = ViewBag.roleId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Agregar o eliminar usuarios de este rol</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UsuarioId" />
                    <input type="hidden" asp-for="@Model[i].NombreUsuario" />
                    <input asp-for="@Model[i].EsSelec" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].EsSelec">
                        @Model[i].NombreUsuario
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Actualizar" class="btn btn-default" style="width:auto" />
            <a asp-action="Edit" asp-route-id="@rolId" class="btn btn-default" style="width:auto">Cancelar</a>
        </div>
    </div>
</form>
