@model sistemaAllqo.Models.SesionxMascota

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SesionxMascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mascota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mascota.idMascota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sesion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sesion.idSesion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idSesionxm">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
