@model IEnumerable<sistemaAllqo.Models.SesionxMascota>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sesion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mascota.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sesion.fechaSesion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idSesionxm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idSesionxm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idSesionxm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
