@model IEnumerable<sistemaAllqo.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-striped table-responsive text-center">
    <thead>
        <tr >
            <th class="text-center">
                @Html.DisplayNameFor(model => model.nombres)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.numCelular)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.lugar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.lugar.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idCliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idCliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
