@model IEnumerable<sistemaAllqo.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow">
    <div class="card-header ">
        <h3 class="m-0 font-weight-bold text-primary float-left">RESERVAS</h3>

        <a class="btn btn-info text-wrap float-right" asp-action="Create">Reservar Sesión</a>
    </div>
    <div class="card-body">
        <div class="card mb-4">
            <div class="card-header">
                <div class="card-title mb-0"><strong>Adiestramientos</strong></div>
            </div>
            <div class="card-body">
                <table id="tabla" class="table text-center table-hover text-wrap">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.fechaSesion)
                            </th>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.cliente)
                            </th>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.servicio)
                            </th>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.estado)
                            </th>
                            <th class="text-white">OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["adiestramientos"] as IEnumerable<sistemaAllqo.Models.Reserva>)
                        {
                            <tr>
                                <td>
                                    @{
                                        DateTime fecha = item.fechaSesion;
                                        if (item.estado == "Creado") { ViewData["Estado"] = "bg-info"; } else { ViewData["Estado"] = "bg-success"; }
                                    }
                                    @fecha.ToString("dddd dd MMMM yyyy, hh:mm tt")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cliente.dni)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.servicio.categoria)
                                </td>
                                <td>
                                    <div class="@ViewData["Estado"] rounded-pill">@Html.DisplayFor(modelItem => item.estado)</div>
                                </td>
                                <td>
                                    <a class="btn p-1" asp-action="Edit" asp-route-id="@item.idReserva"><i class="fas fa-edit"></i></a> |
                                    <a class="btn p-1" asp-action="Details" asp-route-id="@item.idReserva"><i class="fas fa-eye"></i></a> |
                                    <a class="btn p-1" asp-action="Delete" asp-route-id="@item.idReserva"><i class="fas fa-trash-alt"></i></a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title mb-0"><strong>Paseos</strong></div>
            </div>
            <div class="card-body">
                <table id="tabla" class="table text-center table-hover text-wrap">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.fechaSesion)
                            </th>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.cliente)
                            </th>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.servicio)
                            </th>
                            <th class="text-white">
                                @Html.DisplayNameFor(model => model.estado)
                            </th>
                            <th class="text-white">OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["paseos"] as IEnumerable<sistemaAllqo.Models.Reserva>)
                        {
                            <tr>
                                <td>
                                    @{
                                        DateTime fecha = item.fechaSesion;
                                        if (item.estado == "Creado") { ViewData["Estado"] = "bg-info"; } else { ViewData["Estado"] = "bg-success"; }
                                    }
                                    @fecha.ToString("dddd dd MMMM yyyy, hh:mm tt")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cliente.dni)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.servicio.categoria)
                                </td>
                                <td>
                                    <div class="@ViewData["Estado"] rounded-pill">@Html.DisplayFor(modelItem => item.estado)</div>
                                </td>
                                <td>
                                    <a class="btn p-1" asp-action="Edit" asp-route-id="@item.idReserva"><i class="fas fa-edit"></i></a> |
                                    <a class="btn p-1" asp-action="Details" asp-route-id="@item.idReserva"><i class="fas fa-eye"></i></a> |
                                    <a class="btn p-1" asp-action="Delete" asp-route-id="@item.idReserva"><i class="fas fa-trash-alt"></i></a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>